<link rel = "stylesheet" href = "app.css">
<h1>You love <%= pet %></h1>

<% if(pet.toLowerCase() === "tenny"){ %>
	<p>Good choice! Tenny is the Best!</p>
<% } else { %>
	<p>Bad Choice!! You should have choosed Tenny!!</p>
<% } %>

<p>P.S. This is the home.ejs file</p>